<settings>
  <pluginGroups>
    <pluginGroup>org.mule.tools.maven</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <id>mule-plugin-dependencies</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <dependencies>
        <dependency>
          <groupId>org.eclipse.aether</groupId>
          <artifactId>aether-connector-basic</artifactId>
          <version>1.1.0</version>
        </dependency>
        <dependency>
          <groupId>org.eclipse.aether</groupId>
          <artifactId>aether-transport-file</artifactId>
          <version>1.1.0</version>
        </dependency>
        <dependency>
          <groupId>org.eclipse.aether</groupId>
          <artifactId>aether-transport-http</artifactId>
          <version>1.1.0</version>
        </dependency>
        <dependency>
          <groupId>org.eclipse.aether</groupId>
          <artifactId>aether-api</artifactId>
          <version>1.1.0</version>
        </dependency>
        <dependency>
          <groupId>org.eclipse.aether</groupId>
          <artifactId>aether-impl</artifactId>
          <version>1.1.0</version>
        </dependency>
        <dependency>
          <groupId>org.eclipse.aether</groupId>
          <artifactId>aether-util</artifactId>
          <version>1.1.0</version>
        </dependency>
      </dependencies>
    </profile>
  </profiles>
</settings>
